<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Codescandy" />

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-M8S4MT3EYG");
    </script>

    <!-- Favicon icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../assets/images/favicon/favicon.ico"
    />

    <!-- Color modes -->
    <script src="../assets/js/vendors/color-modes.js"></script>

    <!-- Libs CSS -->
    <link
      href="../assets/libs/bootstrap-icons/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/libs/@mdi/font/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/libs/simplebar/dist/simplebar.min.css"
      rel="stylesheet"
    />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="../assets/css/theme.min.css" />

    <title>Pricing | Dash UI - Bootstrap 5 Admin Dashboard Template</title>
  </head>

  <body>
    <main id="main-wrapper" class="main-wrapper">
      <div class="header">
        <!-- navbar -->
        <div class="navbar-custom navbar navbar-expand-lg">
          <div class="container-fluid px-0">
            <a class="navbar-brand d-block d-md-none" href="../index.html">
              <img src="../assets/images/brand/logo/logo-2.svg" alt="Image" />
            </a>

            <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                fill="currentColor"
                class="bi bi-text-indent-left text-muted"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                />
              </svg>
            </a>

            <div class="d-none d-md-none d-lg-block">
              <!-- Form -->
              <form action="#">
                <div class="input-group">
                  <input
                    class="form-control rounded-3 bg-transparent ps-9"
                    type="search"
                    value=""
                    id="searchInput"
                    placeholder="Search"
                  />
                  <span class="">
                    <button class="btn position-absolute start-0" type="button">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-search text-dark"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </button>
                  </span>
                </div>
              </form>
            </div>
            <!--Navbar nav -->
            <ul
              class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0"
            >
              <li>
                <div class="dropdown">
                  <button
                    class="btn btn-ghost btn-icon rounded-circle"
                    type="button"
                    aria-expanded="false"
                    data-bs-toggle="dropdown"
                    aria-label="Toggle theme (auto)"
                  >
                    <i class="bi theme-icon-active"></i>
                    <span class="visually-hidden bs-theme-text"
                      >Toggle theme</span
                    >
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end shadow"
                    aria-labelledby="bs-theme-text"
                  >
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center"
                        data-bs-theme-value="light"
                        aria-pressed="false"
                      >
                        <i class="bi theme-icon bi-sun-fill"></i>
                        <span class="ms-2">Light</span>
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center"
                        data-bs-theme-value="dark"
                        aria-pressed="false"
                      >
                        <i class="bi theme-icon bi-moon-stars-fill"></i>
                        <span class="ms-2">Dark</span>
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        class="dropdown-item d-flex align-items-center active"
                        data-bs-theme-value="auto"
                        aria-pressed="true"
                      >
                        <i class="bi theme-icon bi-circle-half"></i>
                        <span class="ms-2">Auto</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </li>

              <!-- List -->
              <li class="dropdown ms-2">
                <a
                  class="rounded-circle"
                  href="#!"
                  role="button"
                  id="dropdownUser"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <div class="avatar avatar-md avatar-indicators avatar-online">
                    <img
                      alt="avatar"
                      src="../assets/images/avatar/avatar-11.jpg"
                      class="rounded-circle"
                    />
                  </div>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="dropdownUser"
                >
                  <div class="px-4 pb-0 pt-2">
                    <div class="lh-1">
                      <h5 class="mb-1">John E. Grainger</h5>
                      <a href="#!" class="text-inherit fs-6">View my profile</a>
                    </div>
                    <div class="dropdown-divider mt-3 mb-2"></div>
                  </div>

                  <ul class="list-unstyled">
                    <li>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#!"
                      >
                        <i
                          class="me-2 icon-xxs dropdown-item-icon"
                          data-feather="user"
                        ></i>
                        Edit Profile
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#!">
                        <i
                          class="me-2 icon-xxs dropdown-item-icon"
                          data-feather="activity"
                        ></i>
                        Activity Log
                      </a>
                    </li>

                    <li>
                      <a
                        class="dropdown-item d-flex align-items-center"
                        href="#!"
                      >
                        <i
                          class="me-2 icon-xxs dropdown-item-icon"
                          data-feather="settings"
                        ></i>
                        Settings
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../index.html">
                        <i
                          class="me-2 icon-xxs dropdown-item-icon"
                          data-feather="power"
                        ></i>
                        Sign Out
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- navbar vertical -->

      <!-- Sidebar -->
      <div class="navbar-vertical navbar nav-dashboard">
        <div class="h-100" data-simplebar>
          <!-- Brand logo -->
          <a class="navbar-brand" href="../index.html">
            <img
              src="../assets/images/brand/logo/logo-2.svg"
              alt="dash ui - bootstrap 5 admin dashboard template"
            />
          </a>
          <!-- Navbar nav -->
          <ul class="navbar-nav flex-column" id="sideNavbar">
            <!-- Nav item -->
            <li class="nav-item">
              <a
                class="nav-link has-arrow collapsed"
                href="#!"
                data-bs-toggle="collapse"
                data-bs-target="#navAuthentication"
                aria-expanded="false"
                aria-controls="navAuthentication"
              >
                <i data-feather="lock" class="nav-icon me-2 icon-xxs"></i>
                Authentication
              </a>
              <div
                id="navAuthentication"
                class="collapse"
                data-bs-parent="#sideNavbar"
              >
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Sign In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- page content -->
      <div id="app-content">
        <!-- Container fluid -->
        <div class="app-content-area">
          <div class="container-fluid">
            <!-- content -->
            <div class="py-8">
              <div class="row">
                <!-- col -->
                <div class="offset-xl-2 col-xl-8 col-md-12">
                  <div class="row mb-18">
                    <!-- text -->
                    <div class="col-md-12 col-12 mb-16">
                      <h1 class="display-4 fw-bold ls-sm">
                        Clear Title with Keywords for SEO
                      </h1>
                      <div class="d-lg-flex align-items-center mt-1">
                        <div>
                          <p class="mb-lg-0">Subtitle with the value prop</p>
                        </div>
                        <div class="ms-0 ms-lg-3">
                          <a href="#!" class="btn btn-outline-primary btn-sm"
                            >Talk to us</a
                          >
                        </div>
                      </div>
                    </div>

                    <!-- Checked switch -->
                    <div class="col-md-12 col-12 mb-2 form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="priceToggle" 
						onchange="togglePrice()"
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        >Annual</label
                      >
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3">
                      <!-- card -->
                      <div class="card">
                        <!-- card body -->
                        <div class="card-body p-6 border-bottom mb-4">
                          <!-- text -->
                          <h2 class="mb-3">Standard</h2>
                          <p class="mb-0">
                            For early-stage startups that want to spend more
                            time developing and less on manual operations.
                          </p>
                          <!-- price -->
                          <div class="d-flex align-items-end mt-6 mb-3">
                            <h1 class="me-1 mb-0" id="price1">$20</h1>
                    		<p class="mb-0" id="priceUnit1">/mo</p>
                          </div>
                          <!-- button -->
						  <form action="/sign-up" method="POST">
							<input type="hidden" name="lookup_key" value="price_1PM9OJGrYum9FiR6X4Prc0Em" />
							<button href="#!" class="btn btn-outline-primary"
								>Get Started</button
							>
						  </form>
                        </div>
                        <!-- card body -->
                        <div class="card-body">
                          <p class="mb-0">All core features, including:</p>
                          <ul class="list-unstyled mt-4 mb-0">
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >Only Basic Components
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">12+</span> Adv.
                              Components
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">5</span> - Landing page
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">3</span> Dashboard
                              Layouts
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >Documentation
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >Access to support forums
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3">
                      <!-- card -->
                      <div class="card">
                        <!-- card body -->
                        <div class="card-body p-6 border-bottom mb-4">
                          <div class="d-flex align-items-center mb-3">
                            <div>
                              <!-- title -->
                              <h2 class="mb-0">Multisite</h2>
                            </div>
                            <!-- text -->
                            <div class="ms-2">
                              <span class="badge badge-warning-soft"
                                >Most Popular</span
                              >
                            </div>
                          </div>
                          <!-- text -->
                          <p class="mb-0">
                            For agile startups that want to grow their revenue
                            with quick experiments and data-driven decision
                            making.
                          </p>
                          <div class="d-flex align-items-end mt-6 mb-3">
                            <h1 class="me-1 mb-0" id="price2">$50</h1>
                    		<p class="mb-0" id="priceUnit2">/mo</p>
                          </div>
                          <a href="#!" class="btn btn-primary">Get Started</a>
                        </div>
                        <!-- card body -->
                        <div class="card-body">
                          <p class="mb-0">Everything in Standard +:</p>
                          <!-- list -->
                          <ul class="list-unstyled mt-4 mb-0">
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >Basic + 30+ New Components
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">12+</span> Adv.
                              Components
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">5</span> - Landing page
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">3</span> Dashboard
                              Layouts
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >Documentation
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >Access to support forums
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-3">
                      <!-- card -->
                      <div class="card">
                        <!-- card body -->
                        <div class="card-body p-6 border-bottom mb-4">
                          <h2 class="mb-3">Extended</h2>
                          <p class="mb-0">
                            For fast-growth scaleups that want to grow by
                            maximizing efficiencies in their revenue operations.
                          </p>
                          <!-- price -->
                          <div class="d-flex align-items-end mt-6 mb-3">
                            <h1 class="me-1 mb-0" id="price3">$70</h1>
                    		<p class="mb-0" id="priceUnit3">/mo</p>
                          </div>
                          <a href="#!" class="btn btn-outline-primary"
                            >Get Started</a
                          >
                        </div>
                        <!-- card body -->
                        <div class="card-body">
                          <p class="mb-0">Everything in Multisite +</p>
                          <!-- list -->
                          <ul class="list-unstyled mt-4 mb-0">
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >All Bootstrap 5 Components
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">12+</span> Adv.
                              Components
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">5</span> - Landing page
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              ><span class="text-dark">3</span> Dashboard
                              Layouts
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >Documentation
                            </li>
                            <li class="mb-1">
                              <i
                                data-feather="check-circle"
                                class="me-2 text-success icon-xs"
                              ></i
                              >Access to support forums
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Scripts -->
    <!-- Libs JS -->

    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/feather-icons/dist/feather.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>

	<script>
		function togglePrice() {
			var priceElement1 = document.getElementById("price1");
			var priceElement2 = document.getElementById("price2");
			var priceElement3 = document.getElementById("price3");
			var priceUnitElement1 = document.getElementById("priceUnit1");
			var priceUnitElement2 = document.getElementById("priceUnit2");
			var priceUnitElement3 = document.getElementById("priceUnit3");

			if (priceUnitElement1.innerText === "/mo") {
				priceElement1.innerText = "$200";
				priceElement2.innerText = "$500";
				priceElement3.innerText = "$700";
				priceUnitElement1.innerText = "/yr";
				priceUnitElement2.innerText = "/yr";
				priceUnitElement3.innerText = "/yr";
			} else {
				priceElement1.innerText = "$20";
				priceElement2.innerText = "$50";
				priceElement3.innerText = "$70";
				priceUnitElement1.innerText = "/mo";
				priceUnitElement2.innerText = "/mo";
				priceUnitElement3.innerText = "/mo";
			}
		}
	
		feather.replace();
	</script>

    <!-- Theme JS -->
    <script src="../assets/js/theme.min.js"></script>
  </body>
</html>
