{% extends "pages/base.html" %}

{% block manage_subscription %}
<li>
  <a class="dropdown-item" href="/manage">
    <i class="me-2 icon-xxs dropdown-item-icon" data-feather="activity"></i>
    Manage Subscription
  </a>
</li>
{% endblock %} 
{%block content%}
<div class="app-content-area">
  <div class="container-fluid">
    <!-- content -->
    <div class="py-8">
      <h2>Subscription Details</h2>

      <p>Plan: {{ plan_product_name }}</p>
      <p>Price: {{ plan_amount / 100 }}</p>
      <p>Billing Start: {{ start_date }}</p>
      <p>Billing End: {{ end_date }}</p>
      <p>Status: {{ subscription.status }}</p>
      {% if cancel_date %}
      <p>Cancels on: {{ cancel_date }}</p>
      {% endif %} {% if subscription.status == 'active' %}
      <form action="/create-portal-session" method="POST">
        <button type="submit">Manage Subscription</button>
      </form>
      {% else %}
      <p>
        Your plan has expired. Please manage your subscription to pick a new
        plan.
      </p>
      <form action="/create-portal-session" method="POST">
        <button type="submit">Manage Subscription</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
